[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["dotenv"], version = "*"}
python-dateutil = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
